*{
    margin: 0;
    padding: 0;
    user-select: none;
}

html, body {
    height: 100%;
    background-color: #262626;
  }

.header{
    height: 10%;
    background-color: #252625;
    position: relative;
}

/* 隐藏文件上传框 */
#fileInput {
    display: none;
}

   /* 样式化文本框 */
#textInput {
    outline: none; /* 删除默认边框样式 */
    position: absolute;
    padding: 10px;
    border: 0px;
    cursor: pointer;
    text-align: center;
    background-color: #000000;
    bottom: 1px;
    margin: 0 0 8px 11px;
}

audio {
    position: absolute;
    width: 100%;
    max-width: 400px;
    left: 20%;
    height: 30px;
    line-height: 30px;
    padding-top: 17px;
    border-radius: 0px;
}

.main{
    height: 80%;
    display: flex;
    position: relative;
}

.decoration{
    background-image: url(./icon/wooden.png);
    background-size: 60px 500px;
    background-repeat:repeat-y;
    width: 10%;
    height: 100%;
    /* transform: rotate(90deg); */
    border-left: 2px solid #341D12;
    border-right: 2px solid #341D12;
    position: absolute;
    /* z-index: 1; */
}


.left_control,
.middle_control,
.right_control{
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    position: relative;
}

.left_control{
    background-image: linear-gradient(to left, #393733, #51504e);
    flex-direction: column;
    position:relative;
}

.button_container{
    width: 90%;
    height: 15%;
    padding-left: 10%;
    /* margin: 5%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

button{
    width: 80%;
    height: 50%;
    color: #D4CEAF;
    background-color: #201E1B;
    font-size: auto;
}

button.active {
    color: #C1433B;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-right: 2px solid #545454;
    border-bottom: 2px solid #545454;
}

.knob_container{
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; /* 间隔大小，可根据需要调整 */
    height: 75%;
    width: 90%;
    padding-left: 10%;
}

.knob_container_hide{
    display: none;
  }

.item {
    background-color: #ddd;
    /* padding: 20px; */
    text-align: center;
  }

#knobSpring,
#knobGain{
    position: absolute;
    left: 30%;
    top: 32%;
}

#knobMicDistance,
#knobVolume{
    position: absolute;
    left: 70%;
    top: 32%;
}

#knobLowSpeed,
#knobHPF{
    position: absolute;
    left: 30%;
    top: 54%;
}

#knobAcce,
#knobLow{
    position: absolute;
    left: 70%;
    top: 54%;
}

#knobFastSpeed,
#knobMid{
    position: absolute;
    left: 30%;
    top: 76%;
}

#knobDece,
#knobHigh{
    position: absolute;
    left: 70%;
    top: 76%;
}

#knobHighF{
    position: absolute;
    left: 30%;
    top: 32%;
}
#knobHighG{
    position: absolute;
    left: 80%;
    top: 32%;
}
#knobMidF{
    position: absolute;
    left: 30%;
    top: 54%;
}
#knobMidQ{
    position: absolute;
    left: 55%;
    top: 54%;
}
#knobMidG{
    position: absolute;
    left: 80%;
    top: 54%;
}
#knobLowF{
    position: absolute;
    left: 30%;
    top: 76%;
}
#knobLowG{
    position: absolute;
    left: 80%;
    top: 76%;
}

.right_control{
    background-image: linear-gradient(to left, #51504e, #393733);
    flex-direction: column;
    position:relative;
    align-items:flex-start;
    justify-content: flex-start;
}

.button_contain_right{
    width: 90%;
    padding-right: 10%;
    height: 8%;
    margin-top: 6%;
    margin-bottom: 6%;
}

.button_link{
    width: 25%;
    height: 100%;
    margin-left: 6%;
}

.knob_contain_right{
    width: 100%;
    padding-right: 10%;
    height: 15%;
}

#knobLinkLR1{
    position: absolute;
    left: 10%;
    top: 27%;
}

#knobLinkLR2{
    position: absolute;
    left: 25%;
    top: 27%;
}

#knobLinkLR3{
    position: absolute;
    left: 44%;
    top: 27%;
}

#knobLinkLR4{
    position: absolute;
    left: 60%;
    top: 27%;
}

.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 11%;
    width: 85%;
    padding-right: 10%;
    height: 60%;
    margin-top: 2%;
    padding-left: 3%;
  }

  .slider-dec {
    height: 85%;
    display: flex;
    align-items: center;
    gap: 46px;
    position: relative;
    padding:0px 6%;
}

  .slider-output {
    position: relative;
    background-color: #282826;
    border: 1px solid #53514D;
    height: 95%;
    width: 8px;
    z-index: 2;
  }

  .slider-tracks {
    width: 8px;
    height: 180px;
    position: relative;
    background-color: #282826;
    border: 1px solid #53514D;
  }

  .slider_inside {
    width: 3px;
    position: absolute;
    background-color: #000;
    height: 96%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .slider-handle {
    width: 23px;
    height: 38px;
    background-image: url(./icon/slider-handle.png);
    background-size: cover; 
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
  }


.slider-dec::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: repeating-linear-gradient(to bottom, #B1AA96 0px, #B1AA96 1px, transparent 1px, transparent 20px);
    pointer-events: none; 
    /* z-index: -1;  */
  }

.footer-text{
  position: absolute;
  left: 45%;
  bottom: -10%;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 60px;
}